@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Montserrat", "sans-serif";
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  scroll-behavior: smooth;
}

.hamburger-toggle {
  @apply translate-x-full;
}

.pink-shadow {
  text-shadow: 0px 0px 20px #f042b5;
}
